---
import * as CONTENT from "./content"
import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{CONTENT.name}</title>
	</head>
	<body class="bg-background text-text flex flex-col justify-center items-center h-screen">
		<div class="w-full md:w-3/5 lg:w-3/4 border border-white">
			<Header/>
			<Container />
		</div>
	</body>
</html>


<style is:global>
	@font-face {
		font-family: 'BB-Regular';
		src: url('/fonts/BB-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'BB-CondBold';
		src: url('/fonts/BB-CondBold.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	*{
		transition: 350ms ease-in-out;
		font-family: 'BB-Regular', sans-mono;
		box-sizing: border-box;
	}

	h4, h1 {
		font-family: 'BB-CondBold', snas-mono;
	}

	@media only screen and (max-width: 480px){
		*{
			font-size: 12px;
		}
	}

	 /* For webkit-based browsers */
	.overflow-y-scroll::-webkit-scrollbar {
		width: 3px;
	}

	.overflow-y-scroll::-webkit-scrollbar-thumb {
		background-color:#50595e;
	}

	/* For Firefox */
	.overflow-y-scroll {
		scrollbar-width: 1px;
	}
</style>