---
import { Icon } from "astro-icon";
import BaseLayout from "./BaseLayout.astro";
const { title, icon } = Astro.props;
---

<BaseLayout>
  <li class="relative border-b border-white"
    x-data="{selected:null}"
  >
  <button
    type="button"
    class="w-full px-3 py-3 text-left"
    @click="selected !== 1 ? selected = 1 : selected = null"
    x-bind:class="{'bg-white': selected}"
  >
    <div class="flex items-center justify-between">
      <h4
        class="text-2xl px-4 text-text/95 hover:text-text/100 flex justify-center items-start"
        x-bind:class="{'text-black': selected, 'border': selected, 'border-black': selected}"
        >
        {title}
      </h4>

      <Icon
        name="ic:baseline-arrow-drop-down"
        class="w-5 h-5 border"
        x-bind:style="selected ==1 ? 'rotate:'+' 180deg' : ''"
        x-bind:class="{'text-black': selected, 'border-black': selected, 'text-white': !selected, 'border-white': !selected}"
      />
    </div>
  </button>

  <div
    class="relative overflow-hidden transition-all max-h-0 duration-700"
    style=""
    x-ref="container1"
    x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
  >
    <div class="py-4 px-3 text-text/60">
      <slot />
    </div>
  </div>
</li>

</BaseLayout>